<section id="controls">
  <div class="container-fluid primary-500">

    <div class="row">
      <div class="col-md-12">

        <!-- Master List - Common Body Styles -->
        <h2>Controls - A008</h2>
        <hr>
      </div>
    </div>

    <!--Radio Button Group-->
    <div class="row">
      <div class="col-md-9 ">
        <h4>Radio Button Group</h4>
        <div class="row">
          <div class="col-md-9 mb-20">
            <p class="font-medium">Default on states</p>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle value="All">All</mat-button-toggle>
              <mat-button-toggle value="Flights">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending">Spending</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>