#controls {
    .mat-button-toggle .mat-button-toggle-button {
        line-height: 26px;
        font-size: 12px;
        color: #4E5260;
    }
    .mat-button-toggle-group-appearance-standard {
        border-radius: 6px;
    }
}
