<section id="controls">
  <div class="container-fluid primary-500">

    <div class="row">
      <div class="col-md-12">

        <!-- Master List - Common Body Styles -->
        <h2>Controls - A008</h2>
        <hr>
      </div>
    </div>

    <!--Radio Button Group-->
    <div class="row">
      <div class="col-md-9 ">
        <h4>Radio Button Group</h4>
        <div class="row">
          <div class="col-md-5 mb-20">
            <p class="font-medium">Default on states</p>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-sm" checked="true">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-sm">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-sm">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-sm">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-sm">Spending</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-sm">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-sm" checked="true">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-sm">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-sm">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-sm">Spending</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-sm">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-sm">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-sm" checked="true">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-sm">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-sm">Spending</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-sm">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-sm">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-sm">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-sm" checked="true">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-sm">Spending</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-sm">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-sm">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-sm">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-sm">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-sm" checked="true">Spending</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="col-md-5 mb-20">
            <p class="font-medium">Hover/focused/press states</p>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-sm hover">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-sm">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-sm">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-sm">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-sm">Spending</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-sm">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-sm hover">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-sm">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-sm">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-sm">Spending</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-sm">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-sm">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-sm hover">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-sm">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-sm">Spending</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-sm">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-sm">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-sm">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-sm hover">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-sm">Spending</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-sm">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-sm">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-sm">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-sm">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-sm hover">Spending</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="col-md-2 mb-20">
            <p class="font-medium">2 states</p>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle value="All" class="btn-sm" checked="true">Trip History</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-sm">Remarks</mat-button-toggle>
            </mat-button-toggle-group>
            <br><br>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle value="All" class="btn-sm">Trip History</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-sm" checked="true">Remarks</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <h4>Tablet</h4>
        <div class="row">
          <div class="col-md-5 mb-20">
            <p class="font-medium">Default on states</p>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-md" checked="true">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-md">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-md">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-md">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-md">Spending</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-md">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-md" checked="true">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-md">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-md">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-md">Spending</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-md">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-md">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-md" checked="true">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-md">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-md">Spending</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-md">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-md">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-md">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-md" checked="true">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-md">Spending</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-md">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-md">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-md">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-md">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-md" checked="true">Spending</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="col-md-5 mb-20">
            <p class="font-medium">Hover/focused/press states</p>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-md hover">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-md">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-md">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-md">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-md">Spending</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-md">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-md hover">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-md">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-md">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-md">Spending</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-md">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-md">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-md hover">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-md">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-md">Spending</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-md">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-md">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-md">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-md hover">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-md">Spending</mat-button-toggle>
            </mat-button-toggle-group>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style" class="mb-20">
              <mat-button-toggle value="All" class="btn-md">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-md">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-md">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-md">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-md hover">Spending</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
          <div class="col-md-2 mb-20">
            <p class="font-medium">2 states</p>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle value="All" class="btn-md" checked="true">Trip History</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-md">Remarks</mat-button-toggle>
            </mat-button-toggle-group>
            <br><br>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle value="All" class="btn-md">Trip History</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-md" checked="true">Remarks</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <hr>
      </div>
      <div class="col-md-3">
        <h4>Keyboard Focus State</h4>
        <div class="row">
          <div class="col-md-12 mb-20">
            <p class="font-medium">Keyboard focused</p>
            <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
              <mat-button-toggle value="All" class="btn-sm" checked="true">All</mat-button-toggle>
              <mat-button-toggle value="Flights" class="btn-sm">Flights</mat-button-toggle>
              <mat-button-toggle value="CreditCard" class="btn-sm">Credit Card</mat-button-toggle>
              <mat-button-toggle value="Partners" class="btn-sm">Partners</mat-button-toggle>
              <mat-button-toggle value="Spending" class="btn-sm">Spending</mat-button-toggle>
            </mat-button-toggle-group>
          </div>
        </div>
        <hr>
      </div>
    </div>

    <!--Close-->

    <div class="row">
      <div class="col-md-9">
        <h4>Close</h4>
        <div class="row">
          <div class="col-md-6">
            <i class="material-icons">
              close
            </i>
            <p class="font-medium">Close lg - default</p>
          </div>
          <div class="col-md-6">

          </div>
        </div>
      </div>
    </div>

  </div>
</section>