<section id="buttons">
  <div class="container-fluid primary-500">

    <div class="row">
      <div class="col-md-12">

        <!-- Master List - Common Body Styles -->
        <h2>Buttons - A007</h2>
        <hr>
      </div>
    </div>

    <!--Primary Buttons-->
    <div class="row">
      <div class="col-md-9 ">
        <h4>Primary</h4>
        <div class="row">
          <div class="col-md-4 mb-20">
            <p class="font-medium">Primary red lg-default</p>
            <button mat-flat-button color="warn" disableRipple="true">Search</button>
          </div>
          <div class="col-md-4 mb-20">
            <p class="font-medium">Primary red lg-hover/focused/pressed</p>
            <button mat-flat-button color="warn" disableRipple="true" class="hover">Search</button>
          </div>
          <div class="col-md-4 mb-20">
            <p class="font-medium">Primary red lg-disabled</p>
            <button mat-flat-button disabled>Search</button>
          </div>
        </div>
        <hr>
      </div>
      <div class="col-md-3">
        <h4>Keyboard Focus States</h4>
        <div class="row">
          <div class="col-md-12 mb-20">
            <p class="font-medium">Primary red lg-keyboard focused</p>
            <button mat-flat-button color="warn" disableRipple="true" class="focused">Search</button>
          </div>
        </div>
        <hr>
      </div>
    </div>

    <!--Secondary Buttons-->
    <div class="row">
      <div class="col-md-9 ">
        <h4>Secondary</h4>
        <div class="row">
          <div class="col-md-4 mb-20">
            <p class="font-medium">Secondary blue lg-default</p>
            <button mat-stroked-button color="primary" disableRipple="true">Search</button>
          </div>
          <div class="col-md-4 mb-20">
            <p class="font-medium">Secondary blue lg-hover/focused/pressed</p>
            <button mat-flat-button color="primary" disableRipple="true" class="hover">Search</button>
          </div>
          <div class="col-md-4 mb-20">
            <p class="font-medium">Secondary blue lg-disabled</p>
            <button mat-flat-button disabled>Search</button>
          </div>
        </div>
        <hr>
      </div>
      <div class="col-md-3">
        <h4>Keyboard Focus States</h4>
        <div class="row">
          <div class="col-md-12 mb-20">
            <p class="font-medium">Secondary blue lg-keyboard focused</p>
            <button mat-stroked-button color="primary" disableRipple="true" class="focused">Search</button>
          </div>
        </div>
        <hr>
      </div>
    </div>

    <!--Tertiry Buttons-->
    <div class="row">
      <div class="col-md-12">
        <h4>Tertiry</h4>
        <div class="row">
          <div class="col-md-9">
            <div class="row">
              <div class="col-md-4 mb-20">
                <p class="font-medium">Text link - default</p>
                <a href="#">Text Link</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mb-20">
                <p class="font-medium">Expand w/caret - default</p>
                <a href="#">View Details<i class="material-icons  font-sm-200">arrow_drop_down</i></a>
              </div>
              <div class="col-md-4 mb-20">
                <p class="font-medium">Collpase w/caret - default</p>
                <a href="#">View Details<i class="material-icons  font-sm-200">arrow_drop_up</i></a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-4 mb-20">
                <p class="font-medium">Just caret</p>
                <a href="#"><i class="material-icons  font-sm-200">arrow_drop_down</i></a>
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <div class="row">
              <div class="col-md-12 mb-20">
                <p class="font-medium">Text link - keyboard focused</p>
                <a href="#" class="focused">Text Link</a>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12 mb-20">
                <p class="font-medium">Expand w/caret - keyboard focused</p>
                <a href="#" class="focused">View Details<i class="material-icons  font-sm-200">arrow_drop_down</i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="container-fluid bg-primary-600 white">
    <!--Primary-->
    <div class="row">
      <div class="col-md-9 ">
        <h4>Primary</h4>
        <div class="row">
          <div class="col-md-4 mb-20">
            <p class="font-medium">Primary hollow lg - default</p>
            <button mat-stroked-button color="primary">Redeem</button>
          </div>
          <div class="col-md-4 mb-20">
            <p class="font-medium">Primary hollow lg - hover/focused/pressed</p>
            <button mat-stroked-button color="primary" class="hover">Redeem</button>
          </div>
          <div class="col-md-4 mb-20">
            <p class="font-medium">Primary hollow lg - disabled</p>
            <button mat-stroked-button color="primary" disabled>Redeem</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="font-medium">Primary hollow md - default</p>
            <button mat-stroked-button color="primary" class="btn-md">Redeem</button>
          </div>
          <div class="col-md-4 mb-20">
            <p class="font-medium">Primary hollow md - hover/focused/pressed</p>
            <button mat-stroked-button color="primary" class="hover btn-md">Redeem</button>
          </div>
          <div class="col-md-4 mb-20">
            <p class="font-medium">Primary hollow md - disabled</p>
            <button mat-stroked-button color="primary" class="btn-md" disabled>Redeem</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4">
            <p class="font-medium">Primary red md - default</p>
            <button mat-flat-button color="warn" class="btn-md">Sign up for SkyMiles®</button>
          </div>
          <div class="col-md-4 mb-20">
            <p class="font-medium">Primary red md - hover/focused/pressed</p>
            <button mat-flat-button color="warn" class="hover btn-md">Sign up for SkyMiles®</button>
          </div>
          <div class="col-md-4 mb-20">
            <p class="font-medium">Primary red md - disabled</p>
            <button mat-stroked-button color="primary" class="btn-md" disabled>Sign up for SkyMiles®</button>
          </div>
        </div>
        <hr>
      </div>
      <div class="col-md-3">
        <h4>Keyboard Focus States</h4>
        <div class="row">
          <div class="col-md-12 mb-20">
            <p class="font-medium">Primary red lg-keyboard focused</p>
            <button mat-stroked-button color="primary" disableRipple="true" class="focused">Search</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-20">
            <p class="font-medium">Primary hollow md - keyboard focused</p>
            <button mat-stroked-button color="primary" disableRipple="true" class="focused btn-md">Search</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-20">
            <p class="font-medium">Primary red md - keyboard focused</p>
            <button mat-flat-button color="warn" class="btn-md focused">Sign up for SkyMiles®</button>
          </div>
        </div>
        <hr>
      </div>
    </div>

    <!--Secondary-->
    <div class="row">
      <div class="col-md-9 ">
        <h4>Primary</h4>
        <div class="row">
          <div class="col-md-4 mb-20">
            <p class="font-medium">Secondary blue md - default</p>
            <button mat-flat-button color="primary" class="btn-md">Redeem</button>
          </div>
          <div class="col-md-4 mb-20">
            <p class="font-medium">Secondary blue md - hover/focused/pressed</p>
            <button mat-flat-button color="primary" class="hover btn-md">Redeem</button>
          </div>
          <div class="col-md-4 mb-20">
            <p class="font-medium">Secondary blue md - disabled</p>
            <button mat-stroked-button color="primary" class="btn-md" disabled>Redeem</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-20">
            <p class="font-medium">Secondary blue sm - default</p>
            <button mat-flat-button color="primary" class="btn-md">Redeem</button>
          </div>
          <div class="col-md-4 mb-20">
            <p class="font-medium">Secondary blue sm - hover/focused/pressed</p>
            <button mat-flat-button color="primary" class="hover btn-sm">Redeem</button>
          </div>
          <div class="col-md-4 mb-20">
            <p class="font-medium">Secondary blue sm - disabled</p>
            <button mat-stroked-button color="primary" class="btn-sm" disabled>Redeem</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 mb-20">
            <p class="font-medium">Secondary blue lg - default</p>
            <button mat-flat-button color="primary">Redeem</button>
          </div>
          <div class="col-md-4 mb-20">
            <p class="font-medium">Secondary blue lg - hover/focused/pressed</p>
            <button mat-flat-button color="primary" class="hover">Redeem</button>
          </div>
          <div class="col-md-4 mb-20">
            <p class="font-medium">Secondary blue lg - disabled</p>
            <button mat-stroked-button color="primary" disabled>Redeem</button>
          </div>
        </div>
        <hr>
      </div>
      <div class="col-md-3">
        <h4>Keyboard Focus States</h4>
        <div class="row">
          <div class="col-md-12 mb-20">
            <p class="font-medium">Secondary blue md-keyboard focused</p>
            <button mat-flat-button color="primary" class="btn-md focused">Redeem</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-20">
            <p class="font-medium">Secondary blue sm-keyboard focused</p>
            <button mat-flat-button color="primary" class="btn-sm focused">Redeem</button>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 mb-20">
            <p class="font-medium">Secondary blue lg-keyboard focused</p>
            <button mat-flat-button color="primary" class="focused">Redeem</button>
          </div>
        </div>
        <hr>
      </div>
    </div>

    <!--Tertiry Buttons-->
    <div class="row">
        <div class="col-md-12">
          <h4>Tertiry</h4>
          <div class="row">
            <div class="col-md-9">
              <div class="row">
                <div class="col-md-4 mb-20">
                  <p class="font-medium">Text link - default</p>
                  <a href="#">Text Link</a>
                </div>
              </div>
              <div class="row">
                <div class="col-md-4 mb-20">
                  <p class="font-medium">Info icon - default</p>
                  <a href="#"><i class="material-icons">info</i></a>
                </div>
              </div>
            </div>
            <div class="col-md-3">
              <div class="row">
                <div class="col-md-12 mb-20">
                  <p class="font-medium">Text link - keyboard focused</p>
                  <a href="#" class="focused">Text Link</a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</section>